Bootstrap-Flask==1.4
cachelib==0.1.1
click==7.1.2
dominate==2.5.1
Flask==1.1.2
Flask-DotEnv==0.1.2
Flask-Session==0.3.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
python-dotenv==0.14.0
visitor==0.1.3
Werkzeug==1.0.1
