{% if not file_idx %}
	{% set file_idx = 0 %}
{% endif %}
<h5 class="my-2 text-white w-100 text-center" >
	Player
</h5>
<audio controls>
	<source src="{{'/sounds/'+files[file_idx]['file']}}">
	Your browser does not support the audio element.
</audio> 
<div class="fileinfo mt-3">
	<p>
		<span id="filecounter"><b>File {{file_idx}}/{{files|length -1}}</b><br></span>
	    <span id="filename">{{ files[file_idx]['file'] }}</span>
	</p>
	<p>
		{% if files[file_idx]['class'] == "" %}
			Class:  --
		{% else %}
			Class:  {{files[file_idx]['class']}}
		{% endif %}
		
	</p>	
</div>

